<footer class="footer bg-dark">
        <div class="social">
            <a href="https://www.facebook.com/HireTheDrone/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.instagram.com/hirethedrone/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a href=""><i class="fab fa-youtube fa-2x" target="_blank"></i></a>
        </div>
        <p>Copyright &copy; 2021 - HireTheDrone</p>
</footer>