---
title: Contact Us 
layout: layout2
---

 <!-- Contact -->

 <div class="contact">
    <div class="content">
    </div>
 </div>

<main class="title">
    <article class="flex-columns">
                <div class="row">
                    <div class="column">
                        <div class="column-1">
                            <h2>Contact Us Today</h2>
                            <br>
                            <h4 class="phone">214-333-3333</h4>
                            <a class="mail" href="mailto:someone@gmail.com">Email Us</a>
                        </div>    
                    </div>
                    <div class="column">
                        <div class="column-2">
                            <h2>Request Information</h2>
                            <form action="" class="callback-form">
                                <div class="form-control">
                                    <label for="firstname"></label>
                                    <input type="text" name="firstname" id="firstname" placeholder="first name">
                                </div>
                                <div class="form-control">
                                    <label for="lastname"></label>
                                    <input type="text" name="lastname" id="lastname" placeholder="last name">
                                </div>
                                <div class="form-control">
                                    <label for="email"></label>
                                    <input type="text" name="email" id="email" placeholder="email">
                                </div>
                                <div class="form-control">
                                    <label for="phone"></label>
                                    <input type="text" name="phone" id="phone" placeholder="phone">
                                </div>
                                <div class="form-control">
                                    <label for="project description"></label>
                                    <input type="text-box" name="project" id="project" placeholder="project description">
                                </div>
                                <input type="submit" value="Send" id="submit" class="btn">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
    </article>
</main>

