---
title: About 
layout: layout2
---

<!-- About -->

<div class="about">
    <div class="content">
    </div>
</div>

<main class="title">
    <article class="flex-columns">
                <div class="row">
                    <div class="column">
                        <div class="column-1">
                            <h3><strong>Get An Estimate</strong></h3>
                            <br>
                            <h4>Ready For Take Off?</h4>
                            <a href="contact" class="btn"><i class="fa fa-chevron-right"></i> Start Now</a>
                        </div>    
                    </div>
                    <div class="column" id="aboutinfo">
                        <div class="column-2 bg-light">
                            <h1>About Us</h1>
                            <p>In 2019 Hire the Drone, launched as a drone imagery and videography service, that can provide high quality, high resolution digital solutions for website advertising, promotions, and family events.  We are FAA Part 107 Licensed to fly in all authorized airspace and Insured.   Our small fleet of DJI remote UAVS and Go Pros utilize processes in most any standard video or image formats, that can best suit your objectives.  We are a family run business and cater to family size projects.  Reliable, dependable, professional, hassle-free, and one point of contact. Our process is simple.  Contact us of your project needs and once confirmed, we will schedule the flight.  Drone videos and photos will be available shortly thereafter.</p>
                            <p>We look forward to working with you soon!</p>
                        </div>
                    </div>
                </div>
            </section>
    </article>
</main>