---
title: About 
layout: layout2
---

<!-- About -->

<div class="about">
    <div class="content">
    </div>
</div>


<main class="title">
    <h1>About Us</h1>
        <article class="flex-columns">
                    <div class="row">
                        <div class="column">
                            <div class="column-1">
                                <h3><strong>Get An Estimate</strong></h3>
                                <br>
                                <h4>Ready For Take Off?</h4>
                                <a href="contact" class="btn"><i class="fa fa-chevron-right"></i> Start Now</a>
                            </div>    
                        </div>
                        <div class="column">
                            <div class="column-2 bg-light">
                                <h4>| Hire The Drone About |</h4>
                                <p class="meta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dignissimos aperiam earum, odit voluptatibus adipisci autem error perspiciatis et minus tenetur neque temporibus voluptate a ab nemo itaque, quam nisi?</p>
                            </div>
                        </div>
                    </div>
                </section>
        </article>
</main>