---
title: Hire The Drone
---

<body id="home">
   

    <main>
        <!-- About: icons  -->
        <section id="about" class="icons bg-light">
            <div class="flex-items">
                <div>
                    <i class="fas fa-film fa-2x"></i>
                    <div>
                        <h3>Videography</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, eaque.</p>
                    </div>
                </div>
                <div>
                    <i class="fas fa-camera fa-2x"></i>
                    <div>
                        <h3>Photography</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, eaque.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    

    <script>
        const navbar = document.getElementById('navbar');
        let scrolled = false;

        window.onscroll = function() {
            if(window.pageYOffset > 100) {
                navbar.classList.remove('top');
                // if(!scrolled) {
                //     navbar.style.transform = 'translateY(-70)';
                // }
            } else {
                navbar.classList.add('top');
            }
        }
    </script>
</body>
</html>

